@model IEnumerable<nickolas_mendonca_feed_aluno.Models.AlunoProfessorDisciplina>


@{
    ViewData["Title"] = "Index";
}

<h1>Diciplinas vinculadas a alunos</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Adicionar vinculação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorDisciplina.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorDisciplina.Disciplina)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorDisciplina.Professor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorDisciplina.Disciplina.Descricao)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
