@model IEnumerable<nickolas_mendonca_feed_aluno.Models.ProfessorDisciplina>

@{
    ViewData["Title"] = "Index";
}

<h1>Professor disciplinas</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Criar nova vinculção entre professor e disciplina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumo)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalhamento</a> |
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
