@model IEnumerable<projeto.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}


<style>
 th, td,tr,thead {
  border: 1px solid ;
  border-collapse: collapse;
}

table {
    margin: auto;
    width: 60%; 
    border: 3px 
    solid #616f85; 
    padding: 10px;
}
</style>



<div style="display: flex;align-items: center;">
   <img width="300px" src='https://github.com/mailsonpuc/mailsonpuc.github.io/blob/main/undraw_Male_avatar_g98d.png?raw=true'/>

   <p style="margin-left: 10px;">
       <!--mostrar nome no perfil --->
        <p>usuarios</p>
   </p> 
</div>




<!---
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


  <div class="col">
            <table  >
               <tr>
               <th>Configurações do Sistema</th>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               </tr>
             
                <tr>
                <th> <a asp-action="" >configurações</a></th>
              
                </tr>
            </table>
            <!---
            <h3>Configurações do Sistema </h3>
            <div>&nbsp;</div>
            <a asp-action="Create">sistema</a>
            style="margin: auto;width: 60%; border: 3px solid #616f85; padding: 10px;"
            

            <section>
                <a asp-action="Create">configurações</a>
                TEST
            </section>
            --->
        </div>