@model IEnumerable<projeto.Models.MarcarAula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conteudo)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Email)
            </td>
            <td>
               <!---
                @Html.DisplayFor(modelItem => item.Conteudo) 
               if para mostrar no index de marcar aula, qual conteudo foi selecionado.
               --->
               @if (@item.Conteudo == "0")
                 {
                  <p>Matemática</p>
                 }

                 else if (@item.Conteudo == "1")
                {
                      <p>Português</p>
                 }

                  else if (@item.Conteudo == "2")
                {
                      <p>Inglês</p>
                 }

                  else if (@item.Conteudo == "3")
                {
                      <p>Biologia</p>
                 }

                  else if (@item.Conteudo == "4")
                {
                      <p>Química</p>
                 }

                  else if (@item.Conteudo == "5")
                {
                      <p>Física</p>
                 }

                  else if (@item.Conteudo == "6")
                {
                      <p>Filosofia</p>
                 }

                  else if (@item.Conteudo == "7")
                {
                      <p>Espanhol</p>
                 }

                  else if (@item.Conteudo == "8")
                {
                      <p> História</p>
                 }

                  else if (@item.Conteudo == "9")
                {
                      <p>Geografia</p>
                 }

                  else if (@item.Conteudo == "10")
                {
                      <p>Sociologia</p>
                 }

              

               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
