@model nickolas_mendonca_feed_aluno.Models.ProfessorDisciplina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProfessorDisciplina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
